
body {
    line-height: 1.5em;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

.column {
    flex-basis: 100%;
    margin-bottom: 2rem;
    text-align: justify;
    padding: 1rem;
}


.box-title {
    width: 100%;
    display: block;
    text-align: center;
}

@media (min-width: 600px) {
    .column-container {
        flex-wrap: nowrap;
    }

    .column {
        flex-basis: 33%;
        margin-bottom: 0;
    }
}